.pageWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	height: 100vh;
}

.stageWrapper {
	flex-grow: 1;
	padding: 16px;
	display: flex;
	justify-content: center;
}