.receiptWrapper {
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

.receiptNameWrapper {
	margin-bottom: 16px;
}

.receiptNameInput {
	padding: 8px;
	width: 500px;
	font-size: 18px;
	font-weight: 600;
}

.divider {
	margin-top: 24px;
	margin-bottom: 8px;
}